{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
    <div class="container vertical-center about">
        <div class="row align-items-center">
            <div class="col-md-4 text-center">
                <img class='img-thumbnail' src='/static/friendlyKittens_profile.jpg'>
            </div>
            <div class="col-md-8">
                <h1 class="display-6 text-center">An adoption experience like no other!</h1>
                <figure>
                    <blockquote class="blockquote">
                        <p>My family and I have a passion for Himalayan cats and kittens.
                            I have been raising cats and kittens for over 23 years. 
                            I specialize in Himalayans and Siamese cats. 
                            I take great pride in providing the best home and nurturing for my kittens and cats. 
                            I believe that by raising them in my home rather than in a cage or crate that my kittens are more people friendly, 
                            less shy and frightened when brought to a new home and more compatible with other pets in existing homes.</p>
                            
                        <p>I guarantee that my kittens are genetic defect free and I keep a close relationship with my local vet for all of my needs. 
                            My adult cats are all indoor cats and have never had any get sick before. The health of the kittens and adult cats are always a priority. 
                            I know that I am the best breeder around and you will not find a kitten more loved and cared for and ready to be adopted from any other breeder.</p>
                            
                        <p>My family and I love each kitten like a member of our family. 
                            Please allow us to be your first choice for adopting a new Himalayan kitten today.</p>
                    </blockquote>
                    <figcaption class="blockquote-footer" style='font-family: Ink Free; font-size:25px; color:lightgrey;'>
                        <span>Sean Donovan</span>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
{% endblock %}