{% extends 'base.html' %}

{% block title %}Adopt{% endblock %}

{% block content %}
    <div class="container vertical-center">
        <div class="row align-items-center">
            <div class="col-4">
                <img class='img-thumbnail' src='/static/friendlykittens_3kittens.png'>
            </div>
            <div class="col-8">
                <h1 class="display-6 text-center">How do I adopt a kitten?</h1>
                <figure>
                    <blockquote class="blockquote">
                        <p>At FriendlyKittens our Kittens sell for $1050. Lynx and Lilac are more rare colors and are 
                            priced higher. Females have a price premium of $50. We also offer multiple kitten purchase 
                            discounts as well as cash referral bonuses.
                        </p>

                        <p>
                            Most kittens are adopted between 8 to 10 weeks old and always go home with 
                            their first set of shots . We provide an adoption packet containing a clean 
                            signed bill of health (free of genetic defects, fleas, parasites, ringworm, 
                            etc.) from our local vet office
                        </p>

                        <p>
                            Please <a href='/contact' class='text-white link-font'>contact me</a> for availability!
                        </p>    
                    </blockquote>
                </figure>
            </div>
        </div>
    </div>
{% endblock %}