{% extends 'base.html' %}

{% block title %}Kitten Care{% endblock %}

{% block content %}
    <div class="container shift-down">
        <div class="row align-items-center">
            <div class="col-md-8">
                <h1 class="display-6 text-center">How do we care for our kittens?</h1>
                <figure>
                    <blockquote class="blockquote">
                        <p>
                            We at FriendlyKittens value the care and attention that our kittens receive on a daily basis. 
                            All of our kittens are hand raised with lots of love and TLC. Our cats are raised in my home, 
                            they have been exposed to people, kids, and other animals. Our cats are ready to venture 
                            into your home from day one and are raised to be warm and friendly to their owners. They 
                            do very well with being a lap cat as well as exposure to small children. They are not shy 
                            or unfriendly and are very compatible with other cats and pets. We raise them as part of our family, not just a pet.
                        </p>

                        <p>
                            I work with a well established vet clinic in Purcellville, VA, 
                            <a class='text-white link-font' href='https://www.blueridgevets.com/'>Blue Ridge Veterinary Associates</a>. 
                            I have all of my adult cats are tested on a yearly basis for feline leukemia and have 
                            always returned a negative status. They are guaranteed to be free from genetic defects 
                            and are PKD negative so there is no need to worry about any debilitating genetic defects. 
                            All of our kittens go through a wellness checkup upon sale to verify you are receiving a well loved and healthy feline.
                        </p>

                        <p>
                            Because I maintain a exceptional relationship with my vet, I am able to offer spay or 
                            neuter services as well as the first rabies shot required by state law at steep discounts. 
                            Please <a class='text-white link-font' href='/contact'>contact me</a> for any questions 
                            regarding the spay or neuter procedures as well as any questions regarding rabies vaccinations.
                        </p>

                        <p>
                            Some of our kittens have even been adopted internationally! 
                            Please contact me regarding details and availability.
                        </p>
                    </blockquote>
                </figure>
            </div>
            <div class="col-md-4 text-center">
                <figure class='figure'>
                    <img src="/static/friendlykittens_abroad.png" class="figure-img img-fluid img-thumbnail rounded">
                    <figcaption class='figure-caption text-light'>Import to Venezuela, first international adoption!</figcaption>
                </figure>
            </div>
        </div>
    </div>

    <!-- <div class="container shift-down">
        <div class="row">
            <h1 class='display-5 text-center'>How we care for our kittens</h1>
        </div>

        <div class="row center">
            <div class="col col-8">
                <p>
                    We at FriendlyKittens value the care and attention that our kittens receive on a daily basis. 
                    All of our kittens are hand raised with lots of love and TLC. Our cats are raised in my home, 
                    they have been exposed to people, kids, and other animals. Our cats are ready to venture 
                    into your home from day one and are raised to be warm and friendly to their owners. They 
                    do very well with being a lap cat as well as exposure to small children. They are not shy 
                    or unfriendly and are very compatible with other cats and pets. We raise them as part of our family, not just a pet.
                </p>

                <p>
                    I work with a well established vet clinic in Purcellville, VA, <a class='text-white link-font' href='https://www.blueridgevets.com/'>Blue Ridge Vets</a>. 
                    I have all of my adult cats are tested on a yearly basis for feline leukemia and have 
                    always returned a negative status. They are guaranteed to be free from genetic defects 
                    and are PKD negative so there is no need to worry about any debilitating genetic defects. 
                    All of our kittens go through a wellness checkup upon sale to verify you are receiving a well loved and healthy feline.
                </p>

                <p>
                    Because I maintain a exceptional relationship with my vet, I am able to offer spay or 
                    neuter services as well as the first rabies shot required by state law at steep discounts. 
                    Please <a class='text-white link-font' href='/contact'>contact me</a> for any questions 
                    regarding the spay or neuter procedures as well as any questions regarding rabies vaccinations.
                </p>

                <p>
                    Some of our kittens have even been adopted internationally! 
                    Please contact me regarding details and availability.
                </p>
            </div>

            <div class="col col-4">
                <figure class='figure'>
                    <img src="/static/friendlykittens_abroad.png" class="figure-img img-fluid img-thumbnail rounded">
                    <figcaption class='figure-caption text-light'>Import to Venezuela, first international adoption!</figcaption>
                </figure>
            </div>
        </div>
    </div> -->
{% endblock %}