{% extends 'base.html' %}

{% block title %}Our Kittens{% endblock %}

{% block content %}
    <div class="container shift-down facebook-port">
        <div class="row">
            <div class="col text-center">
                <h1 class='display-6'>Visit our Facebook to see our adoptions!</h1>
                <iframe scrolling="yes" src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Ffriendlykittens&width=450&height=600&stream=true&header=true" style="border-radius:10px; overflow:hidden; width:500px; height:600px;"></iframe>
            </div>
        </div>
    </div>
{% endblock %}